@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
.z-font{
    font-family: 'Nova Mono', monospace!important;
}
body{
    background-color: #3e454d !important;
}
.z-colour{
    background-color: #3e454d !important;
}
.z-text-or{
    color: lightgrey !important;
    font-family: 'Nova Mono', monospace!important;
}
.z-twitch-btn{
    background-color: #9146FF!important;
    border-color: #9146FF!important;
}
.z-addflex{
    display: flex;
}
.z-center{
    text-align: center!important;
}
.z-pad-right{
    padding-right: 25px !important;
}
.z-pad-bot{
    padding-bottom: 25px !important;
}
.z-gitlab{
    background-color: orange!important;
    border-color: orange!important;
}
.z-twitter{
    background-color: #55ACEE!important;
    border-color: #55ACEE!important;
}