<div class="container">
    <div class="card bg-dark z-text-or text-center" style="width: auto;">
       <!-- <img src="img/PHPIcon.png" class="card-img-top" height="50%" width="50%" alt="...">-->
       <i class="fab fa-php card-img-top z-center" style="font-size: 144px;"></i>
        <div class="card-body">
          <h5 class="card-title"> <i class="fab fa-php"></i> Z-Todo</h5>
          <p class="card-text">A project I built on stream at around 5 in the morning. It came out rather well despite my lack of sleep.</p>
          <div class="text-center">
          <a href="https://gitlab.com/Zer0Xeon/php-todo-bootstrap" class="btn btn-primary z-pad-right"> <i class="fab fa-gitlab"></i> View on Gitlab</a>
          <a href="" class="btn btn-light"> <i class="fab fa-github"></i> View on Github</a>
        </div>
        </div>
      </div>
</div>