<div class="container">
    <div class="card mb-3 z-text-or bg-dark" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <i class="fab fa-twitch" style="font-size: 200px; padding:25px;"></i>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Twitch.tv/Zer0Xeon</h5>
              <p class="card-text">When I'm working on projects I will tend to stream on twitch as I do enjoy streaming and chilling out with people whilst I program and create.</p>
              <div class="text-center">
                <a href="https://twitch.tv/zer0xeon" class="btn z-twitch-btn z-pad-right"> <i class="fab fa-twitch"></i> Twitch</a>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>