@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
.z-font{
    font-family: 'Nova Mono', monospace!important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #3e454d; /* this was my color */
    left: 0px;
    top: 0px;
    z-index: -1;
}


.padding{
    padding-left: 25%;
}

.z{
    z-index: 999;
    align-items: center;
}
/*body {
    background-color: #3e454d;
}*/